@using zeynerp.Domain.Enums
@model List<CariTurTanimViewModel>
@{
    ViewData["LayoutTitle"] = "Cari Türler";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li>
                <a asp-controller="Tanimlamalar" asp-action="Index"><span>Tanımlamalar</span></a>
            </li>

            <li>
                <a asp-controller="MuhasebeTanimlamalar" asp-action="Index"><span>Muhasebe Tanımlamalar</span></a>
            </li>

            <li><span class="text-light">Cari Tür Tanımlar</span></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col">
        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create"
                                    class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Cari Tür
                                    Oluştur</a>
                            </div>
                            <div class="col-8 col-lg-auto ms-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0"></label>
                                    <select class="form-control select-style-1 filter-by" name="filter-by">
                                        <option value="all" selected>All</option>
                                        <option value="1">ID</option>
                                        <option value="2">Name</option>
                                        <option value="3">Phone</option>
                                        <option value="4">E-mail</option>
                                        <option value="6">Total Amount</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0"></label>
                                    <select class="form-control select-style-1 results-per-page"
                                        name="results-per-page">
                                        <option value="12" selected>12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term"
                                            id="search-term" placeholder="Cari Tür Ara">
                                        <button class="btn btn-default" type="submit"><i
                                                class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-list">
                        <thead>
                            <tr>
                                <th width="5%">Sıra</th>
                                <th>Stok Grup Adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@Model[i].Sira</td>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <a href="#modal-@Model[i].Id"
                                            data-bs-toggle="modal"><strong>@Model[i].CariTurTanimAdi</strong></a>
                                        @if(Model[i].Durum == 0)
                                        {
                                            <span class="ecommerce-status failed"></span>
                                        }
                                        else
                                        {
                                            <span class="ecommerce-status completed"></span>
                                        }
                                        <div id="modal-@Model[i].Id" class="modal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="form-@Model[i].Id" asp-action="Edit" method="post">
                                                        <input type="hidden" name="Id" value="@Model[i].Id">
                                                        <div class="modal-body">
                                                            <div class="form-row">
                                                                <div class="form-group">
                                                                    <label>Stok Grup Adı</label>
                                                                    <input type="text" class="form-control" name="CariTurTanimAdi"
                                                                        value="@Model[i].CariTurTanimAdi" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <label for="inputEmail4">Sıra</label>
                                                                            <input type="number" class="form-control"
                                                                                name="Sira" value="@Model[i].Sira"
                                                                                required>
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <label for="inputEmail4">Durum</label>
                                                                            <select name="Durum" class="form-control">
                                                                                @foreach (Status status in Enum.GetValues(typeof(Status)))
                                                                                {
                                                                                    var statusValue = (int)status;
                                                                                    var isSelected = statusValue == (int)Model[i].Durum ? "selected" : "";
                                                                                    if(!string.IsNullOrEmpty(isSelected))
                                                                                    {
                                                                                        <option value="@statusValue" selected>@status</option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@statusValue">@status</option>
                                                                                    }
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                data-bs-dismiss="modal">İptal</button>
                                                            <button type="submit" class="btn btn-primary"><i
                                                                class="fas fa-save"></i> Kaydet</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/pnotify/pnotify.custom.css" />
}

@section VendorScripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/pnotify/pnotify.custom.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/jquery-validation/localization/messages_tr.min.js"></script>
}

@section Scripts {
    <script>
        (function ($) {

            'use strict';

            var listDataTableInit = function () {

                var $listTable = $('#datatable-list');

                $listTable.dataTable({
                    dom: '<"row justify-content-between"<"col-auto"><"col-auto">><"table-responsive"t>',
                    pageLength: 12,
                    order: [],
                    language: {
                        emptyTable: "Tabloda gösterilecek veri bulunmamaktadır.",
                        paginate: {
                            previous: '<i class="fas fa-chevron-left"></i>',
                            next: '<i class="fas fa-chevron-right"></i>'
                        }
                    },
                    drawCallback: function () {

                        $listTable
                            .closest('.dataTables_wrapper')
                            .find('.dataTables_info')
                            .appendTo($listTable.closest('.datatables-header-footer-wrapper').find('.results-info-wrapper'));

                        $listTable
                            .closest('.dataTables_wrapper')
                            .find('.dataTables_paginate')
                            .appendTo($listTable.closest('.datatables-header-footer-wrapper').find('.pagination-wrapper'));

                        $listTable.closest('.datatables-header-footer-wrapper').find('.pagination').addClass('pagination-modern pagination-modern-spacing justify-content-center');

                    }
                });

                $(document).on('change', '.results-per-page', function () {
                    var $this = $(this),
                        $dataTable = $this.closest('.datatables-header-footer-wrapper').find('.dataTable').DataTable();

                    $dataTable.page.len($this.val()).draw();
                });

                $(document).on('keyup', '.search-term', function () {
                    var $this = $(this),
                        $filterBy = $this.closest('.datatables-header-footer-wrapper').find('.filter-by'),
                        $dataTable = $this.closest('.datatables-header-footer-wrapper').find('.dataTable').DataTable();

                    if ($filterBy.val() == 'all') {
                        $dataTable.search($this.val()).draw();
                    } else {
                        $dataTable.column(parseInt($filterBy.val())).search($this.val()).draw();
                    }
                });

                $(document).on('change', '.filter-by', function () {
                    var $this = $(this),
                        $searchField = $this.closest('.datatables-header-footer-wrapper').find('.search-term');

                    $searchField.trigger('keyup');
                });

                $listTable.find('.select-all').on('change', function () {
                    if (this.checked) {
                        $listTable.find('input[type="checkbox"]:not(.select-all)').prop('checked', true);
                    } else {
                        $listTable.find('input[type="checkbox"]:not(.select-all)').prop('checked', false);
                    }
                })

            };

            listDataTableInit();

        }(jQuery));
    </script>

    <script>
        (function () {

            'use strict';

            // basic
            $('[id^="form-"]').each(function () {
                $(this).validate({
                    highlight: function (label) {
                        $(label).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function (label) {
                        $(label).closest('.form-group').removeClass('has-error');
                        label.remove();
                    },
                    errorPlacement: function (error, element) {
                        var placement = element.closest('.input-group');
                        if (!placement.get(0)) {
                            placement = element;
                        }
                        if (error.text() !== '') {
                            placement.after(error);
                        }
                    }
                });
            });

        }).apply(this, [jQuery]);
    </script>

    <script>
        var successMessage = @Html.Raw(Json.Serialize(ViewBag.SuccessMessage));
        if (successMessage.length > 0) {
            var notice = new PNotify({
                text: successMessage,
                type: 'success',
                addclass: 'click-2-close',
                hide: true,
                buttons: {
                    closer: false,
                    sticker: false
                }
            });

            notice.get().click(function () {
                notice.remove();
            });
        }
    </script>
}